@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic resets to ensure the React app displays nicely inside Laravel blade views */
html, body, #root {
  height: 100%;
}
body {
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto;
}
